*{
    font-size: 62.5%;
}

// fonts
$main-font: 'Roboto', sans-serif;
$title-font: 'Roboto Slab', serif;


// colors
$secondary-color: #f26002;
$main-color: white;
$bg-color: #eff9ff;
$section-color: #8ccbea;
$menu-color: #0271bc;
$footer-color: #304268;
$article-color: #4a4a4a;