.footer {
  background-color: $footer-color;
}

.footer_button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(calc(50vw - 50%), -50%);
    
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 45px;
}

.sections {
  display: flex;
  &__menu {
  list-style: none;
  text-align: center;
}
}

.social {
  &__menu {
    list-style: none;
    text-align: center;
  }
  
}

.menu__item {
  font-family: $main-font;
  font-size: 1.6rem;
  color: $main-color;
  list-style: none;
  text-transform: uppercase;
  line-height: 30px;
  text-decoration: none;
}

.copy {
  &--text {
  font-family: $main-font;
  font-size: 1.4rem;
  color: $main-color;
  display: inline;
  }     
  &--heart {
    font-family: $main-font;
    font-size: 1.4rem;
    color: $secondary-color;
    display: inline;    
  }
  &--year {
      font-family: $main-font;
      font-size: 1.4rem;
      text-align: center;
      color: $main-color;  
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 39px 45px 39px;
  }
  .menu__item {
    font-family: $main-font;
    text-align: left;
  
  }
  .copy {
    order: -1;
    &--year {
        text-align: left;
    }
  }
  .sections {
    text-align: left;
  }
  .social {
    &__menu {
      text-align: left;
    }
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0px 370px 45px 370px;
  }
}