.container-menu {
    background-color: $menu-color;
    position: absolute;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    height: 16px;
}