<button class="button">
    <img src="../images/ico-arrow.svg" alt="Scroll down icon" title="Go to reasons">
</button>
<div>
    <nav class="sections">
        <ul class="sections__menu">
            <li class="manu__item">Articles</li>
            <li class="manu__item">Books</li>
            <li class="manu__item">Events</li>
            <li class="manu__item">Reasons</li>
            <li class="manu__item">Tips</li>
        </ul>
    </nav>
    <nav class="social">
        <ul class="social__menu">
            <li class="manu__item">Articles</li>
            <li class="manu__item">Books</li>
            <li class="manu__item">Events</li>
            <li class="manu__item">Reasons</li>
            <li class="manu__item">Tips</li>
        </ul>
    </nav>
    <div class="copy">
        <p>©2023</p>
        <p>we ❤︎ components</p>
    </div>
</div>