<footer class="footer">
    <a class="footer_button" href="#header">
        <img src="../images/ico-arrow.svg" alt="Scroll down icon" title="Go to reasons">
    </a>
    <div class="container">
        <nav class="sections">
            <ul class="sections__menu">
                <li class="menu__item">Articles</li>
                <li class="menu__item">Books</li>
                <li class="menu__item">Events</li>
                <li class="menu__item">Reasons</li>
                <li class="menu__item">Tips</li>
            </ul>
        </nav>
        <nav class="social">
            <ul class="social__menu">
                <li class="menu__item">Twitter</li>
                <li class="menu__item">Instagram</li>
                <li class="menu__item">Mastodon.social</li>
            </ul>
        </nav>
        <div class="copy">
            <p class="copy--year">©2023</p>
            <p class="copy--text">we</p>
            <p class="copy--heart"> ❤︎ </p>
            <p class="copy--text">components</p>
        </div>
    </div>
</footer>