<footer class="footer">
    <a class="footer_button" href="#header">
        <img src="../images/ico-arrow.svg" alt="Scroll down icon" title="Go to reasons">
    </a>
    <div class="container">
        <nav class="sections">
            <ul class="sections__menu">
                <li>
                    <a class="menu__item" href="https://adalab.es">Articles</a>
                </li>
                <li>
                    <a class="menu__item" href="https://adalab.es">Books</a>
                </li>
                <li>
                    <a class="menu__item" href="https://adalab.es">Events</a>
                </li>
                <li>
                    <a class="menu__item" href="https://adalab.es">Reasons</a>
                </li>
                <li>
                    <a class="menu__item" href="https://adalab.es">Tips</a>
                </li>
            </ul>
        </nav>
        <nav class="social">
            <ul class="social__menu">
                <li>
                    <a class="menu__item" href="https://adalab.es">Twitter</a>
                </li>
                <li>
                    <a class="menu__item" href="https://adalab.es">Instagram</a>
                </li>
                <li>
                    <a class="menu__item" href="https://adalab.es">Mastodon.social</a>
                </li>
            </ul>
        </nav>
        <div class="copy">
            <p class="copy--year">©2023</p>
            <p class="copy--text">we</p>
            <p class="copy--heart"> ❤︎ </p>
            <p class="copy--text">components</p>
        </div>
    </div>
</footer>