<section class="hero">
    <img class="hero-img" src="../images/cover.jpg" alt="Hero background" title="City skyline">
    <div class="hero-content">
        <h1 class="hero-title">Anonymous Proxy</h1>
        <p class="hero-text">In hac habitasse platea dictumst.</p>
        <a class="button" href="#reasons">
            <img src="../images/ico-scroll-down.svg" alt="Scroll down icon" title="Go to reasons">
        </a>
    </div>

</section>
<section class="tips">
    <article class="article">
        <p class="article__section">Insomnia Tips</p>
        <h2 class="article__title">Looking Through A Window</h2>
        <p class="article__content"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus
            exdiam neclectus. Vivamus semper sodales rutrum.</p>
        <a class="go" href="https://adalab.es.">Go</a>

    </article>
</section>

<section class="reasons" id="reasons">
    <h2 class="reasons-title">3 Reasons To Purchase</h2>
    <div class="reasons__container">
        <div class="reason1">
            <h4 class="reason1__title">Ut sed metus</h4>
            <p class="reason1__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason2">
            <h4 class="reason2__title">Curabitur ac erat</h4>
            <p class="reason2__text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason3">
            <h4 class="reason3__title">Morbi dictum</h4>
            <p class="reason3__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
    <a class="more_reasons" href="https://adalab.es.">More reasons</a>
</section>